
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../static/admin/img/avatar0.jpeg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>xxx</p>
                <a href="#"><i class="fa fa-circle text-success"></i> xxx</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>课程</span>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../../admin/course/li"><i class="fa fa-list"></i> 课程列表</a></li>
                    <li><a href="../../admin/course/add"><i class="fa fa-plus"></i> 添加课程</a></li>
                </ul>
            </li>

            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>导师</span>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../../admin/mentors/li"><i class="fa fa-list"></i> 导师列表</a></li>
                    <li><a href="../../admin/mentors/add"><i class="fa fa-plus"></i> 添加导师</a></li>
                    <li><a href="../../admin/mentors/litag"><i class="fa fa-list"></i> 导师类型列表</a></li>
                    <li><a href="../../admin/mentors/addtag"><i class="fa fa-plus"></i> 添加导师类型</a></li>
                </ul>
            </li>

            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-shield"></i>
                    <span>机构</span>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../../admin/partner/li"><i class="fa fa-list"></i> 机构列表</a></li>
                    <li><a href="../../admin/partner/add"><i class="fa fa-plus"></i> 添加机构</a></li>
                    <li><a href="../../admin/partner/litag"><i class="fa fa-list"></i> 机构类型列表</a></li>
                    <li><a href="../../admin/partner/addtag"><i class="fa fa-plus"></i> 添加机构类型</a></li>
                </ul>
            </li>

            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cubes"></i>
                    <span>孵化器</span>
                    <span class="label label-primary pull-right"></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../../admin/incubator/li"><i class="fa fa-list"></i> 孵化器列表</a></li>
                    <li><a href="../../admin/incubator/add"><i class="fa fa-plus"></i> 添加孵化器</a></li>
                    <li><a href="../../admin/incubator/litag"><i class="fa fa-list"></i> 孵化器地区列表</a></li>
                    <li><a href="../../admin/incubator/addtag"><i class="fa fa-plus"></i> 添加孵化器地区</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>